[boundary]
quantity     = dischargebnd
locationfile = left01.pli
forcingfile  = simplechannel${FileAppendix}.bc

[boundary]
quantity     = qhbnd
locationfile = right01.pli
forcingfile  = simplechannel${FileAppendix}.bc

